.wrapper {
    position: fixed;
    top: 19%;
    left: 0;
    transform: translate(-10%, -50%);
}

.link_wrapper {
    position: relative;
}

a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
}

a:hover {
    width: 200px;
    border: 3px solid #2ecc71;
    background: gray;
    color: #2ecc71;
}

a:hover+.icon {
    border: 3px solid #2ecc71;
    right: -25%;
}
  /* Resposive============ */

  @media screen and (max-width: 430px) {
    .wrapper {
    position: fixed;
    left: 3%;
    transform: translate(-10%, -50%);
}
a {
    width: 100px;
    height: 30px;
    line-height: 25px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all .35s;
}
 
  }
